* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333333;
}

li {
    list-style: none;
}

body {
    width: 100%;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.header-top {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #e5e5e5;
}

h1 {
    float: left;
    line-height: 60px;
}

.header-top img {
    width: 68px;
}

.header-top-menu {
    margin-left: 280px;
}

.header-top-menu li {
    display: block;
    float: left;
    padding: 0 20px 0 20px;
    line-height: 60px;
}

.header-top-menu img {
    width: 15px;
    vertical-align: middle;
    padding-bottom: 3px;
    padding-left: 5px;
}

.header-top-lauage li {
    float: right;
    line-height: 60px;
    padding-left: 15px;
}

.header-top-lauage .header-top-lauage-light {
    font-weight: 300;
}

.header-bottom {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #e5e5e5;
}

.left {
    float: left;
    line-height: 60px;
    font-size: 15px;
    content: '\003E';
}

.left li a,
.left .header-bottom-light {
    color: #666666;
}

.left span {
    padding: 0 5px 0 5px;
}

.right {
    float: right;
    line-height: 60px;
}

.left li {
    display: inline-block;
}

.right li {
    display: inline-block;
}

.right span {
    padding: 0 10px 0 10px;
    color: #E5E5E5;
}

.right img {
    height: 17px;
    vertical-align: middle;
    padding-bottom: 3px;
    padding-left: 5px;
}

#content .main-image {
    background-image: url("/images/content-image.png");
    background-size: 100%;
    width: 100%;
    height: 610px;
}

#content .main-image img {
    position: absolute;
    margin-top: 80px;
    height: 40px;
}

#content .main-image h2 {
    position: absolute;
    margin-top: 150px;
    height: 40px;
    font-weight: 900;
    font-size: 32px;
    color: white;
    line-height: 50px;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
}

.content-detail h3 {
    display: inline-block;
    margin-top: 80px;
    width: 230px;
    line-height: 30px;
    word-break: keep-all;
}

.content-detail>img {
    margin-top: 80px;
    display: block;
    width: 860px;
    height: 480px;
    float: right;
    margin-bottom: 45px;
}

.content-detail .text-box-all {
    width: 860px;
    float: right;
}

.text-box {
    float: right;
    display: inline-block;
    width: 390px;
    margin-bottom: 45px;
    margin-right: 40px;
}

.text-box h4 {
    font-size: 16px;
    margin-bottom: 20px;
}

.text-box p {
    font-size: 16px;
    font-weight: 300;
    line-height: 27px;
}

.button-area {
    width: 860px;
    float: right;
    display: block;
    border-top: 1px solid #E5E5E5;
}

.button-area button {
    margin-top: 60px;
    width: 358px;
    height: 70px;
    border: 1px solid black;
}

.button-area button a {
    font-size: 20px;
    line-height: 70px;
    float: left;
    margin-left: 30px;
}

.button-area #arrow {
    width: 8px;
    height: 15px;
    margin-left: 140px;
}

.top-button {
    /* margin: 90px auto 60px auto;
    display: block;
    float: right; */
    display: block;
    float: right;
    position: absolute;
    margin-top: 930px;
    margin-left: 1570px;

}

.top-button img {
    height: 35px;
}

.footer-top {
    display: block;
    border-top: 1px solid #e5e5e5;
    margin-top: 1025px;
}

.footer-menu {
    margin: 60px 80px 90px 0;
    display: inline-block;
    width: 120px;
    float: left;
}

.footer-bold {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 20px;
}

.light {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 11px;
}

.footer-menu-small-1 {
    margin-top: 60px;
    display: inline-block;
}

.footer-menu-small-2 {
    margin-top: 40px;
    display: inline-block;
}


.footer-bottom {
    background-color: #1E1E1E;
    clear: both;
}

.footer-bottom-text a {
    text-decoration: none;
    color: white;
}